
<ion-buttons slot="start">
  <ion-back-button defaultHref="/previous-page"></ion-back-button>
</ion-buttons>
<ion-content [fullscreen]="true">
<h1>About us</h1>
<ion-avatar class="img">
  <img  src="../assets/img/wie.jpg" />
</ion-avatar>
<h4 class="txt">International organization dedicated to promoting women engineers and scientists

</h4>
<div class="contact">
  <h1 >Contact us</h1>

  <div class="link">
  <ion-icon class="logo-E" name="mail"></ion-icon>
  <p class="Email">E_mail:<a href="https://www.example.com" target="_blank">wieisims@gmail.com</a>
  </p>
  </div>
<div class="link">
  <ion-icon class="logo-f" name="logo-facebook"></ion-icon>
  <p class="fb">Facebook:<a href="https://www.facebook.com/profile.php?id=100088426925351&mibextid=2JQ9oc" target="_blank">IEEE WIE ISIMS Student Branch affinity group</a></p>
  </div>
<div class="link">
<ion-icon class="logo-I" name="logo-instagram"></ion-icon>
<P class="insta">Instagram:<a href="https://www.instagram.com/ieee_wie_isims/?igshid=NjIwNzIyMDk2Mg%3D%3D&fbclid=IwAR0IfrpUygi_y5-2fXtmLaaYCO4JBbE9qvghpg8ThbYyR3i96_auvwa7q3c" target="_blank">IEEE WIE ISIMS</a></P>
</div>
</div>

</ion-content>