.im{
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 10px;
}
.fl{
    font-size: 27px;
    position: relative;
    bottom: 25px;
}
.ic{
    border-radius: 18px; height: 105px; width: 380px;
    margin: 0 auto;
    margin-top: 17px;
    
}
.flash{
    position: relative;
    top: 17px;
    width: 20%;
}
.title{
   color: #150B3D; 
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

div{
    display: flex;
    justify-content: space-between;
}
.title1{
    color: #150B3D; 
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 30px;
 }
 h6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px; 
 }
 .no{
    width: 150px;
    height: 150px;
    margin-top: 70px;
    color: #3847e5;

    margin-left: 150px;
 }
