ion-content {
    --background: linear-gradient(to left bottom, #c092fa, #c59dfa, #caa8fa, #d0b3fa, #d5bef9, #dcc2f6, #e2c6f3, #e7caf0, #ecc9ea, #f1c9e4, #f3c9de, #f5c9d9);
}
.im{
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 10px;
}
.fl{
    font-size: 27px;
    position: relative;
    bottom: 25px;
}
.ic{
    border-radius: 18px; height: 105px; width: 380px;
    margin: 0 auto;
    margin-top: 17px;
    
}
.flash{
    position: relative;
    top: 17px;
    width: 20%;
}
.title{
   color: #150B3D; 
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

div{
    display: flex;
    justify-content: space-between;
}
.title1{
    color: #150B3D; 
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 30px;
 }
 h6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px; 
 }
 .no{
    width: 150px;
    height: 150px;
    margin-top: 70px;
    color: #3847e5;

    margin-left: 150px;
 }
