

<ion-content [fullscreen]="true" >
  <ng-container *ngIf="notificationsList.length > 0; else noNotifications">
  <h1 class="title">Notifications</h1>
  <ion-card class="ic">
    <ion-card-content>
        <ion-item >
          <ion-avatar class="im" slot="start" size="large">
            <ion-img  src="../assets/img/wie.png"></ion-img>
          </ion-avatar>
        <ion-label class="ion-text-wrap" >
        <h3 style=" color:#150B3D; font-weight: bold;">IEEE WIE Affinity Group</h3>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h4 style="color: gray; font-weight: normal; font-size: small;">New event</h4>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <div>
        <h6 style="color: gray; font-weight:lighter; font-size: 11px;">45 minutes ago</h6>
        <h6 style="color: gray; font-weight:lighter; font-size: 11px;">Delete</h6>
      </div>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="ic">
    <ion-card-content>
        <ion-item >
          <ion-avatar class="im" slot="start" size="large">
            <ion-img  src="../assets/img/wie.png"></ion-img>
          </ion-avatar>
            <ion-icon name="close-outline" slot="end" class="fl"></ion-icon>
        <ion-label class="ion-text-wrap" >
        <h3 style=" color:#150B3D; font-weight: bold;">IEEE WIE Affinity Group</h3>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h4 style="color: gray; font-weight: normal; font-size: small;">New event</h4>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h6 style="color: gray; font-weight:lighter; font-size: 11px;">45 minutes ago</h6>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="ic">
    <ion-card-content>
        <ion-item >
          <ion-avatar class="im" slot="start" size="large">
            <ion-img  src="../assets/img/wie.png"></ion-img>
          </ion-avatar>
            <ion-icon name="close-outline" slot="end" class="fl"></ion-icon>
        <ion-label class="ion-text-wrap" >
        <h3 style=" color:#150B3D; font-weight: bold;">IEEE WIE Affinity Group</h3>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h4 style="color: gray; font-weight: normal; font-size: small;">New event</h4>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h6 style="color: gray; font-weight:lighter; font-size: 11px;">45 minutes ago</h6>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="ic">
    <ion-card-content>
        <ion-item >
          <ion-avatar class="im" slot="start" size="large">
            <ion-img  src="../assets/img/wie.png"></ion-img>
          </ion-avatar>
            <ion-icon name="close-outline" slot="end" class="fl"></ion-icon>
        <ion-label class="ion-text-wrap" >
        <h3 style=" color:#150B3D; font-weight: bold;">IEEE WIE Affinity Group</h3>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h4 style="color: gray; font-weight: normal; font-size: small;">New event</h4>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h6 style="color: gray; font-weight:lighter; font-size: 11px;">45 minutes ago</h6>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="ic">
    <ion-card-content>
        <ion-item >
          <ion-avatar class="im" slot="start" size="large">
            <ion-img  src="../assets/img/wie.png"></ion-img>
          </ion-avatar>
            <ion-icon name="close-outline" slot="end" class="fl"></ion-icon>
        <ion-label class="ion-text-wrap" >
        <h3 style=" color:#150B3D; font-weight: bold;">IEEE WIE Affinity Group</h3>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h4 style="color: gray; font-weight: normal; font-size: small;">New event</h4>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h6 style="color: gray; font-weight:lighter; font-size: 11px;">45 minutes ago</h6>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="ic">
    <ion-card-content>
        <ion-item >
          <ion-avatar class="im" slot="start" size="large">
            <ion-img  src="../assets/img/wie.png"></ion-img>
          </ion-avatar>
            <ion-icon name="close-outline" slot="end" class="fl"></ion-icon>
        <ion-label class="ion-text-wrap" >
        <h3 style=" color:#150B3D; font-weight: bold;">IEEE WIE Affinity Group</h3>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h4 style="color: gray; font-weight: normal; font-size: small;">New event</h4>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h6 style="color: gray; font-weight:lighter; font-size: 11px;">45 minutes ago</h6>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="ic">
    <ion-card-content>
        <ion-item >
          <ion-avatar class="im" slot="start" size="large">
            <ion-img  src="../assets/img/wie.png"></ion-img>
          </ion-avatar>
            <ion-icon name="close-outline" slot="end" class="fl"></ion-icon>
        <ion-label class="ion-text-wrap" >
        <h3 style=" color:#150B3D; font-weight: bold;">IEEE WIE Affinity Group</h3>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h4 style="color: gray; font-weight: normal; font-size: small;">New event</h4>
        <h1 aria-disabled="false" style="height: 8px;"></h1>
        <h6 style="color: gray; font-weight:lighter; font-size: 11px;">45 minutes ago</h6>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> 
</ng-container>
<ng-template #noNotifications>
  <h1 class="title1">No Notifications</h1>
  <h6 style="color:gray;font-weight:lighter; font-size: 12px;">You have no notifications at this time</h6>
  <img src="../../assets/notif.png" />
</ng-template>
</ion-content>
