<ion-buttons class="icon1" slot="start">
  <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
</ion-buttons>

<ion-content [fullscreen]="true">
  
  <div class="background">
    <div class="element-2"></div>
    <div class="element-1"></div>
    <div class="element-3"></div>
  </div>

 
  <div class="head">
  <ion-img src={{clubPhoto}}></ion-img>
  <div class="header-text">
    {{clubName}}
  </div>
  </div>


  <div class="subtitle" >{{title}}</div>
  <div class="class">
    <p class="upcoming-events">upcoming event</p>
    <div class="participate">Participate</div>
  </div>
  <p class="Date">Date :  {{dateEvent}} </p>

  <ion-img src={{photo}} class="imgE"></ion-img>
  
  <div class="parag">
    <p>{{description}}</p>
  </div>
</ion-content>
