.today-container {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
  }
  
  .today {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
  }
  
  .date {
    font-size: 20px;
  }
  
  .label {
    font-size: 12px;
  }
  
  .days-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .event-widgets {
    padding: 16px;
  }
  