<div class="blank-layout-container justify-content-center align-items-center bg-light-primary"style="background-color: #DDCCF8 !important;">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth"  style="background: rgba(255, 255, 255, 0.64) !important;">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="./assets/images/logos/logoWieApp.png"
                height="80"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
          </div>

          <!--icon user-->
          
          <div class="text-center">
            <label for="file-upload" >
              <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16" style="color: #343333;">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
              </svg>
            </label>
            <input type="file" id="file-upload" style="display: none;">
          </div>


          <form class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Username</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" />
            </mat-form-field>
            <!-- email
              <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" />
            </mat-form-field>>-->
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Confirm your Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" />
            </mat-form-field>


            <!--button sign up-->
            <button mat-stroked-button class="w-100 m-b-12" style="background-color: #CEBBFA;">
              <div class="d-flex align-items-center" style="color: #ffffff;"[routerLink]="['/']">
                Sign up 
              </div>
            </button>
            
            <button mat-stroked-button class="w-100">
              <div class="d-flex align-items-center">
                <img
                  src="/assets/images/svgs/google-icon.svg"
                  alt="google"
                  width="16"
                  class="m-r-8"
                />
                Sign up with Google
              </div>
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
          style="color: #838383 !important;"
            >Already have an Account?

            <a
              [routerLink]="['/authentication/login']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
              style="color: #C092FA !important ;"
            >
              Sign In</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
