<ion-content [fullscreen]="true">
  <div class="background">
    <div class="element-2"></div>
    <div class="element-1"></div>
    <div class="element-3"></div>
  </div>
<h1>About us</h1>
<ion-avatar class="img">
  <img  src="../assets/img/wie.jpg" />
</ion-avatar>
<h4 class="txt">The IEEE Women in Engineering (WIE) Affinity Group is a specialized segment within IEEE dedicated to advancing gender diversity and empowering women in engineering and related STEM fields. It provides a supportive network for women engineers, fostering mentorship, professional growth, and advocacy for gender equality. </h4>



<footer>
  <h1>Contact us</h1>

  <div class="link">
  <ion-icon class="logo-E" name="mail"></ion-icon>
  <p class="Email"><a href="mailto:wieisims@gmail.com" target="_blank">wieisims@gmail.com</a>
  </p>
  </div>
<div class="link">
  <ion-icon class="logo-f" name="logo-facebook"></ion-icon>
  <p class="fb"><a href="https://www.facebook.com/profile.php?id=100088426925351&mibextid=2JQ9oc" target="_blank">IEEE WIE ISIMS affinity group</a></p>
  </div>
<div class="link">
<ion-icon class="logo-I" name="logo-instagram"></ion-icon>
<P class="insta"><a href="https://www.instagram.com/ieee_wie_isims/?igshid=NjIwNzIyMDk2Mg%3D%3D&fbclid=IwAR0IfrpUygi_y5-2fXtmLaaYCO4JBbE9qvghpg8ThbYyR3i96_auvwa7q3c" target="_blank">IEEE WIE ISIMS</a></P>
</div>
</footer>
</ion-content>