<ion-content [fullscreen]="true">
  <div class="content">
    <img src="../../assets/logoEdam.png" class="images" />
    
    <div class="white">
      <div class="info">
        <h2>ISIMS Event Management App</h2>
        <p>Effortlessly coordinate and manage various events hosted by clubs at the ISIMS institute. Join us in enhancing your event experience.</p>
      </div>
      <div class="buttons">
        <button class="btnP" [routerLink]="['/sign']">SignUp</button>
        <button class="btnS" [routerLink]="['/login']">Login</button>
      </div>
    </div>
  </div>
</ion-content>
