<ion-content [fullscreen]="true">
  
  <div class="container">
      <div class="photo">
          <ion-avatar class="person">
            <ion-img  src= {{img}}></ion-img>
          </ion-avatar>
          <ion-icon name="add-circle" class="add" (click)="openFileSelector()"></ion-icon>
      </div>
  
      <ion-label>First Name</ion-label>
      <div class="input">
        <ion-input (click)="clearErrorMessage('errormessagename')" type="text" placeholder="Foulen" [(ngModel)]="firstName"  required></ion-input>
        <div *ngIf="errormessagename" class="errorMessage" >{{errormessagename}}</div>
      </div>
      <ion-label>Family Name</ion-label>
      <div class="input">
        <ion-input (click)="clearErrorMessage('errormessagefname')" type="text" placeholder="Ben Foulen" [(ngModel)]="familyName"  required></ion-input>
        <div *ngIf="errormessagefname" class="errorMessage" >{{errormessagefname}}</div>
      </div>
  
      <ion-label class="user">Phone Number</ion-label>
      <div class="input">
        <ion-input (click)="clearErrorMessage('errormessage')" type="Number" placeholder="99999999" [(ngModel)]="phoneNumber"  required></ion-input>
        <div *ngIf="errormessage" class="errorMessage" >{{errormessage}}</div>
      </div>
    </div>
    <div class="check">
      <label>
          <input type="checkbox" [(ngModel)]="isChecked">
          I agree to all the Terms & Conditions
      </label>
  </div>
   
  
      <button class="button"  [disabled]="!isChecked" (click)="confirm()">Confirm</button>
      
      <p class="Account">Have an account?<a  [routerLink]="['/login']" class="signup" >Log in</a></p>
  
  </ion-content>
  