ion-content {
  --background: linear-gradient(to left bottom, #e6d4ff, #ebd8ff, #f0dcff, #f5e0ff, #f4e0ff, #f9e1ff, #fee3ff, #ffe5ff);
}
.container{
  margin-top: 40%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
ion-label{
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  margin-left: 10px;
  margin-bottom: 25px;
  font-size: 140%;
}
ion-input {

  // Remove default border and box shadow
  --border-width: 0;
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: none;

  //default background and text color
  --background: transparent;
  --color: black;

  // Remove default highlight on focus
  --highlight-color-focused: transparent;
  --highlight-color-invalid: transparent;
  --highlight-color-valid: transparent;

  // Remove default caret color
  --caret-color: inherit;
  
  // Remove default outline on focus
  --outline: none;

  // Remove default placeholder styling
  --placeholder-color:#838383 ;
  --placeholder-font-style: normal;

}

.input{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6%;
  margin-top: 5px;
  border: none;
  border-radius: 13px;
  background-color:white;
  height: 40px;
  padding-left: 10px;
  
}   
.errorMessage{
  color: red;
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  margin-top: -10px;
  margin-bottom: 5%;
}

.button{
  background-color: #c092fa!important;
  font-family: "Poppins", sans-serif;
  font-size: 140%;
  font-weight: bolder;
  border-radius: 25px;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20%;

}

.gmail-icon {
  margin-right: 7px;
  fill: #fff;
}
.gmail-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 5%;

  cursor: pointer;

  text-align: center;
  color: #838383;
  font-family: "Poppins", sans-serif;
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 25%;
}


  .signup{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color:#c092fa ;
    margin-left: 2px;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .Account {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    line-height: 1rem;
    color: #838383;
    

  }
  
    
  


  
.forgot{
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #3a4d6b;
  margin: 8px 0 14px 0;
}
