<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Badges</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <mat-card class="b-1 shadow-none">
      <mat-card-content>
        <p>
          <span matBadge="4" matBadgeOverlap="false" class="f-w-500 text-muted">Text with a badge</span>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="b-1 shadow-none">
      <mat-card-content>
        <p>
          <span matBadge="4" matBadgeOverlap="false" matBadgeSize="large" class="f-w-500 text-muted">Text with large
            badge</span>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="b-1 shadow-none">
      <mat-card-content>
        <p class="f-w-500 text-muted">
          Button with a badge on the left
          <button mat-flat-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            Action
          </button>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="b-1 shadow-none">
      <mat-card-content>
        <p class="f-w-500 text-muted">
          Icon with a badge
          <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="b-1 shadow-none">
      <mat-card-content>
        <p>
          Button toggles badge visibility
          <button mat-flat-button color="primary" matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
            Hide
          </button>
        </p>
      </mat-card-content>
    </mat-card>



  </mat-card-content>
</mat-card>
<div class="blank-layout-container justify-content-center align-items-center bg-light-primary"style="background-color: #DDCCF8 !important;">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth"  style="background: rgba(255, 255, 255, 0.64) !important;">
        <mat-card-content class="p-32">
          <div >
            <a >Add Event
            </a>
            <hr>
          </div>

          


          <form class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Event Name</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Event Description</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <textarea matInput rows="9" ></textarea>
            </mat-form-field>
            <!-- email
              <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" />
            </mat-form-field>>-->
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Confirm your Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" />
            </mat-form-field>


            <!--button sign up-->
            <button mat-stroked-button class="w-100 m-b-12" style="background-color: #CEBBFA;">
              <div class="d-flex align-items-center" style="color: #ffffff;"[routerLink]="['/']">
                Sign up 
              </div>
            </button>
            
            <button mat-stroked-button class="w-100">
              <div class="d-flex align-items-center">
                <img
                  src="/assets/images/svgs/google-icon.svg"
                  alt="google"
                  width="16"
                  class="m-r-8"
                />
                Sign up with Google
              </div>
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
          style="color: #838383 !important;"
            >Already have an Account?

            <a
              [routerLink]="['/authentication/login']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
              style="color: #C092FA !important ;"
            >
              Sign In</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
