<ion-content [fullscreen]="true" >
  <div class="background">
    <div class="element-2"></div>
    <div class="element-1"></div>
    <div class="element-3"></div>
  </div>
   
  <ng-container *ngIf="notificationsList.length > 0; else noNotifications">
  <h1 class="title">Notifications</h1>
  
  <ion-card class="ic" *ngFor="let group of notificationsList" (click)="goToEvent(group)">
    <ion-card-content>
        <div >
          <ion-avatar class="im" slot="start" size="large">
            <ion-img  src="../{{group.image}}"></ion-img>
          </ion-avatar>
        <ion-label class="ion-text-wrap" >
          
        <h3 style=" color:#000000; font-weight: bold;">{{group.club}}</h3>
        <h1 aria-disabled="false" style="height: 5px;"></h1>
        <h4 style="color: gray; font-weight: normal; font-size: small;">{{group.notification.title}}</h4>
        <h1 aria-disabled="false" style="height: 5px;"></h1>
        <h6 style="color: gray; font-weight:lighter; font-size: 11px;">{{group.notification.time}}</h6>
      
        </ion-label>
      </div>
    </ion-card-content>
  </ion-card>
  
</ng-container>
<ng-template #noNotifications>
  <div class="centered-content">
  <h1 class="title1">No Notifications</h1>
  <h6 class="nonotif" style="color:gray;font-weight:lighter; font-size: 120%;">You have no notifications at this time</h6>
  <div class="centered-image-container">
   <img src="../../assets/notif.png"  />
</div>
</div>
</ng-template>
</ion-content>