.button{
    border-radius: 20px;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    background-image: linear-gradient(to right,#c092fa, #f5c9d9);
}
ion-label{
  font-weight: bold;
  color: black;
}

.input{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 0.6em 1em;
    border: none;
    border-radius: 15px;
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  
    max-width: 95%;
    font-size: 1em;
    color: #333;
}
.Account {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #3a4d6b;
  }
  .signup{
    font-weight: bold;
    color: black;
  }
  .span{
    display:block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: center;
    color: #595959;
    width: 50px;
    line-height: 55px;
  }
  .errorMessage{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;}
  



    ion-list{
      background-image: linear-gradient(to left bottom, #c092fa, #c59dfa, #caa8fa, #d0b3fa, #d5bef9, #dcc2f6, #e2c6f3, #e7caf0, #ecc9ea, #f1c9e4, #f3c9de, #f5c9d9);
  }