<ion-content [fullscreen]="true">
  <div class="fixed">
  <div class="header">
    
    <div class="info">
      <h3>Hello Anis!</h3>
      <ion-avatar class="img">
        <ion-img src="../../assets/anis.JPG" (click)="profile()"></ion-img>
      </ion-avatar>
    </div>
    
  </div>
  <div>
    <ion-searchbar placeholder="Search events" class="custom-searchbar"></ion-searchbar>
  </div>

</div>
  <div class="events">
    <h4>Last Events</h4>
    <div class="horizontal-scroll">

    <ion-card class="card1">
      <div class="img-container">
          <img src="../../assets/Ras.jpg" />
      </div>
      <ion-label>
        <h1>TSYP X</h1>
      </ion-label>
      <div class="card-description">
        <p>10Th IEEE Tunisian Students and Young Professionals TSYP Congress organized by IEEE Esprit Student Branch.</p>
      </div>

    </ion-card>

    <ion-card class="card1">
      <div class="img-container">
          <img src="../../assets/Picnic.jpg" />
      </div>
      <ion-label>
        <h1>Cleaning day</h1>
        <div class="likes">
          <ion-icon name="heart"></ion-icon>
          <p>200</p>
        </div>
      </ion-label>
    </ion-card>

    <ion-card class="card1">
      <div class="img-container">
          <img src="../../assets/Picnic.jpg" />
      </div>
      <ion-label>
        <h1>Cleaning day</h1>
        <div class="likes">
          <ion-icon name="heart"></ion-icon>
          <p>200</p>
        </div>
      </ion-label>
    </ion-card>

  </div>
  <h4>Our Clubs</h4>
  <div class="horizontal-scroll">
  <ion-card  class="card">
    <div class="img-container">
       <ion-thumbnail slot="start">
        <img src="../../assets/Wie.jpg" class="images" />
      </ion-thumbnail>
    </div>
      <ion-label >
        <h2>IEEE WIE AF</h2>
        <div class="align">
        <ion-icon name="people-outline" class="icon3"></ion-icon>
        <h4>120</h4>
       </div>
      </ion-label>
  </ion-card>

  <!--card2-->
  <ion-card  class="card">
    <div class="img-container">
       <ion-thumbnail slot="start">
        <img src="../../assets/microsoft.jpg"  class="images"/>
      </ion-thumbnail>
    </div>
    <ion-label >
        <h2>Microsoft Tech Club</h2>
        <div class="align">
        <ion-icon name="people-outline" class="icon3"></ion-icon>
        <h4>361</h4>
      </div>
      </ion-label>
  </ion-card>
</div>
  <h4>Last News</h4>



</div>
</ion-content>
