ion-content {
  --background: linear-gradient(to left bottom, #c092fa, #c59dfa, #caa8fa, #d0b3fa, #d5bef9, #dcc2f6, #e2c6f3, #e7caf0, #ecc9ea, #f1c9e4, #f3c9de, white);
  background: var(--background);
 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  
  div.header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding:20px 20px 0px 20px;
    
      ion-avatar.img {
        margin-right: 10px;
        margin-left: 10px;
      }
    
      h3 {
        color: black;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 160px;
        width:max-content;
      }
    
     
    
      .info {
        display: flex; /* Ajout de la règle pour aligner les éléments horizontalement */
        align-items: center; /* Aligner les éléments verticalement */
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .custom-searchbar {
      --background: white; /* Couleur de fond */
      --placeholder-color: #black; /* Couleur du placeholder */
      --color: black; /* Couleur du texte saisi */
      margin: 0px 20px 20px 20px;
      width: 90%;
    }
    

  .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    div {
      text-align: center;

      h3 {
        color: black;
        font-weight: bold;
        font-size:large;
        margin: 0;
      }

      p {
        color: black;
        margin: 5px 0;
        font-size:small;
      }
    }
  }

  .events {
    --background: linear-gradient(to left bottom, #c092fa, #c59dfa, #caa8fa, #d0b3fa, #d5bef9, #dcc2f6, #e2c6f3, #e7caf0, #ecc9ea, #f1c9e4, #f3c9de, #f5c9d9);
    border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      padding: 10px;
      margin-top: 20px;
    
      h4 {
        //*********************font-family:sans-serif;
        color: black;
        margin-top: 5px;
        margin-left: 10px;
      }
    
      ion-card {
        margin-top:0px;
        background-color: white;
        border-radius: 10px;
        .img-container {
          width: 100%;
          height: 150px; // Adjust the desired height
          overflow: hidden;
        
          img {
            width: 100%;
            height: 100%;
            object-fit: cover; // Add this line
          }
        }
    
        ion-label {
          margin-left: 5px;
          display: flex;
          flex-direction: column;
          background-color: white;
          h1 {
            margin-top: 5px;
            color: black;
            font-size:large;
            font-weight:600;
          }
    
          .likes {
            display: flex;
            align-items: center;
            color: #838383;
            ion-icon {
              margin-right: 5px;
            }
          }
    
          
        }
      }
      ion-card.card1 {
        flex: 0 0 auto; /* Make sure the cards don't grow or shrink */
        width: 250px; /* Adjust the width of each card as needed */
        border: 1px solid #ccc; /* Add a border for visual separation */
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .card-description{
          padding: 5px;
          color: black;
        }
          ion-label {
              display: flex;
              flex-direction: row;
          }
          
          .upcoming-events {
              color: #FF72B6;
              background: rgba(255, 114, 182, 0.20);
              border-radius: 4px; // Ajoutez la border radius désirée
              padding-left: 5px;
              padding-right: 5px;
              display: inline-block; // Pour que la taille s'adapte au contenu
            }
      }
          
      .horizontal-scroll {
          display: flex;
          overflow-x: scroll;          
          //padding-right: 10px; // Add some padding to the container
          flex-wrap: nowrap;
          overflow-y: hidden;
      }
    }
  .card{
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 4%;
      background-color: rgba(208, 203, 203, 0.901);
      margin: 10px;
      margin-bottom: 20px;
  }
  .img-container{
    margin-right: 5%;
    position: relative;
}
.images{
  width: 100px; 
  border-radius: 20%;
}
.icon3{
  font-size: 25px; 
}
.align{
  display: flex; 
  align-items: center;
}
    
}
