ion-content {
  --background: linear-gradient(to left bottom, #c092fa, #c59dfa, #caa8fa, #d0b3fa, #d5bef9, #dcc2f6, #e2c6f3, #e7caf0, #ecc9ea, #f1c9e4, #f3c9de, white);
  background: var(--background);
 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  
  div.header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding:20px 20px 0px 20px;
    
      ion-avatar.img {
        margin-right: 10px;
        margin-left: 10px;
      }
    
      h3 {
        color: black;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 160px;
        width:max-content;
      }
    
     
    
      .info {
        display: flex; /* Ajout de la règle pour aligner les éléments horizontalement */
        align-items: center; /* Aligner les éléments verticalement */
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .custom-searchbar {
      --background: white; /* Couleur de fond */
      --placeholder-color: #black; /* Couleur du placeholder */
      --color: black; /* Couleur du texte saisi */
      margin: 0px 20px 20px 20px;
      width: 90%;
    }
    

  .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    div {
      text-align: center;

      h3 {
        color: black;
        font-weight: bold;
        font-size:large;
        margin: 0;
      }

      p {
        color: black;
        margin: 5px 0;
        font-size:small;
      }
    }
  }

  .events {
    --background: linear-gradient(to left bottom, #c092fa, #c59dfa, #caa8fa, #d0b3fa, #d5bef9, #dcc2f6, #e2c6f3, #e7caf0, #ecc9ea, #f1c9e4, #f3c9de, #f5c9d9);
    border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      padding: 10px;
      margin-top: 20px;
    
      h4 {
        //*********************font-family:sans-serif;
        color: black;
        margin-top: 5px;
        margin-left: 10px;
      }
    
      ion-card {
        margin-top:0px;
        background-color: white;
        border-radius: 10px;
        .img-container {
          width: 100%;
          height: 150px; // Adjust the desired height
          overflow: hidden;
        
          img {
            width: 100%;
            height: 100%;
            object-fit: cover; // Add this line
          }
        }
    
        ion-label {
          margin-left: 5px;
          display: flex;
          flex-direction: column;
         
          h1 {
            margin-top: 5px;
            color: black;
            font-size:large;
            font-weight:600;
            
          }
    
          .likes {
            display: flex;
            align-items: center;
            color: #838383;
            ion-icon {
              margin-right: 5px;
            }
          }
    
          
        }
      }
      .card-content{
        --background: linear-gradient(to left bottom, #C092FA, #DDCCF8,  #E6DCFC, #C092FA);
        background: var(--background);
      }
      ion-card.card1 {
       

        flex: 0 0 auto; /* Make sure the cards don't grow or shrink */
        width: 250px; /* Adjust the width of each card as needed */
        border: 1px solid #ccc; /* Add a border for visual separation */
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .card-description{
          padding: 5px;
          color: black;
        }
          ion-label {
              display: flex;
              flex-direction: row;
          }
          
          .upcoming-events {
              color: #FF72B6;
              background: rgba(255, 114, 182, 0.20);
              border-radius: 4px; // Ajoutez la border radius désirée
              padding-left: 5px;
              padding-right: 5px;
              display: inline-block; // Pour que la taille s'adapte au contenu
            }
      }
          
      .horizontal-scroll {
          display: flex;
          overflow-x: scroll;          
          //padding-right: 10px; // Add some padding to the container
          flex-wrap: nowrap;
          overflow-y: hidden;
      }
    }
  .card{
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 4%;
      background-color: rgba(208, 203, 203, 0.901);
      margin: 10px;
      margin-bottom: 20px;
  }
  .img-container{
    margin-right: 5%;
    position: relative;
}
.images{
  width: 100px; 
  border-radius: 20%;
}
.icon3{
  font-size: 25px; 
}
.align{
  display: flex; 
  align-items: center;
}
    
}

.cards2{
  display: inline;
  

}

.horizontal-scroll{
  /* Background styles */
  margin: 5px;
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.element {
  flex-shrink: 0;
  position: absolute;
  filter: blur(100px);
}

.element-2 {
  width: 990px;
  height: 703px;
  background: conic-gradient(from 180deg at 50% 50%, rgba(255, 114, 182, 0.40) 51.97910249233246deg, rgba(245, 201, 217, 0.00) 136.35732650756836deg, rgba(221, 204, 248, 0.40) 172.19358086585999deg, rgba(192, 146, 250, 0.40) 336.5046429634094deg);
  left: -218px;
  top: -92px;
}

.element-1 {
  width: 563.833px;
  height: 670.723px;
  background: conic-gradient(from 180deg at 45.26% 41.97%, rgba(168, 228, 255, 0.50) 110.62499642372131deg, rgba(229, 220, 252, 0.52) 191.21399402618408deg, #E6DCFC 191.25deg, rgba(249, 227, 235, 0.49) 307.5000071525574deg);
  left: -48.68px;
  top: 569px;
}

.element-3 {
  width: 345px;
  height: 202px;
  border-radius: 345px;
  background: #CEBBFA;
  left: 178px;
  top: -67px;
}

/* Avatar styles */
.im {
  width: 70px;
  height: 70px;
}

/* Card styles */
.ic {
  flex: 0 0 auto;
  display: flex;
        flex-direction: column;
        justify-content: space-between;
  border-radius: 18px;
  height: 105px;
  width: 250px;
  margin: 5px;
  margin-top: 17px;
  background-color: white;
}

/* Title styles */
.title {
  color: #000000;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.title1 {
  color: #000000;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-size: 30px;
}

/* General styling for labels */
div {
  display: flex;
  margin-top: 2px;
}

ion-label {
  margin-left: 15px;
}

}