.background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white; /* White background for the entire container */
        z-index: -1;
    }
    
    .element-2 {
        width: 990px;
        height: 703px;
        flex-shrink: 0;
        background: conic-gradient(from 180deg at 50% 50%, rgba(255, 114, 182, 0.40) 51.97910249233246deg, rgba(245, 201, 217, 0.00) 136.35732650756836deg, rgba(221, 204, 248, 0.40) 172.19358086585999deg, rgba(192, 146, 250, 0.40) 336.5046429634094deg);
        filter: blur(125px);
        position: absolute;
        left: -218px;
        top: -92px;
    }
    
    .element-1 {
        width: 563.833px;
        height: 670.723px;
        flex-shrink: 0;
        background: conic-gradient(from 180deg at 45.26% 41.97%, rgba(168, 228, 255, 0.50) 110.62499642372131deg, rgba(229, 220, 252, 0.52) 191.21399402618408deg, #E6DCFC 191.25deg, rgba(249, 227, 235, 0.49) 307.5000071525574deg);
        filter: blur(75px);
        position: absolute;
        left: -48.68px;
        top: 569px;
    }
    
    .element-3 {
        width: 345px;
        height: 202px;
        flex-shrink: 0;
        border-radius: 345px;
        background: #CEBBFA;
        filter: blur(100px);
        position: absolute;
        left: 178px;
        top: -67px;
    }
    .icon1{
        font-size: 30px;
        margin-top: 20px;
        margin-left: 20px;  
        color: black; /* Set the color to black */

     }

ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;}
   
.subtitle{
    margin-left: 5%;
    color: black;
    font-weight: bold;
    font-size: 150%;
    margin-right: 5%;

  }
  .img {
    float: left;
  height: 90px;
  width: 90px; /* Set a fixed width and height to create a circular shape */
  border-radius: 50%; /* Use 50% for a circular shape */
  overflow: hidden;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  object-position: center center; /* Center the image within the container */
  }


.head{ 
    display: flex;
    align-items: center; 
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 15px;
    
}
.text{
    margin-left: 5%;
    margin-right: 5%;
}

.upcoming-events {
    color: #FF72B6;
    background: rgba(255, 114, 182, 0.20);
    border-radius: 4px; // Ajoutez la border radius désirée
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5%;
    margin-top: 0;
    display: inline-block; // Pour que la taille s'adapte au contenu
  }
.finished-events {
    color: #4DC591; /* Updated color */
    background: rgba(77, 197, 145, 0.2); /* Updated background color */
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5%;
    margin-top: 0;
    display: inline-block;
  }
.full-events{
    color: #FFA500; /* Orange color */
  background: rgba(255, 165, 0, 0.2); /* Background color with transparency */
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5%;
  margin-top: 0;
  display: inline-block;
  }
.participate{
    border-radius: 50px;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5%;
    background: #FFF;
    text-align: center;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bolder;
  }
.class{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligner les éléments à l'extrémité gauche et droite du conteneur */
    margin-top: 15px;
  }

.Date{
    font-weight: bold;
    margin-left: 5%;
    margin-top: -2px;
    color: black;
    }


.imgE{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3%;    
    width: 92%; /* Make the image container responsive to its parent */
    border-radius: 30px; /* Add rounded corners with a border-radius */
    overflow: hidden; /* Hide any overflow to keep the border-radius effect */
    object-fit: cover; /* Maintain the image's aspect ratio and cover the container */
      }

.parag{
    margin-top: 15px;
    margin-left: 8%;
    margin-right: 8%;
    color: black;
    line-height: 170%;
}
.header-text{
    margin-right: 5%;
    margin-left: 5%;
    font-family: "Poppins", sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: black;
}