.avatar{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20%;
    width:100px;
    height:100px;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    position: relative; /* Positionner le conteneur absolument */
    left: 18px; /* Ajuster la position horizontale selon vos besoins */
}
.btnp{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.btnp ion-button {
    --color: black; /* Change the button color to black */
    --color-hover: black; /* Change the button hover color to black */
    --color-activated: black; /* Change the button activated color to black */
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
}
h2{
    color: black;
    --color-hover:black;
    margin-right: 8px;
}
h4{
    margin-left: 8px; 
    margin-bottom: 0;
}
.cards_container{
    background-color: white;
    padding-top: 3%;

}
.c1{
    padding: 50px;
    
}
.img2{
    width:20%;
    height:20%;

}
.card{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 4%;
    background-color: rgba(208, 203, 203, 0.901);
    margin: 10px;
    margin-bottom: 20px;
}
.img-container{
    margin-right: 5%;
    position: relative;
}
.images{
    width: 100px; 
    border-radius: 20%;
}
.icon1{
   font-size: 30px;
   margin-top: 30px;
   margin-left: 20px;  
}
.icon2{
    font-size: 28px; 
    position: fixed;
    top: 30px; 
    right: 20px; 
    z-index: 9999;
 }
 .icon3{
    font-size: 25px; 
 }
 .cards_container {
    /* Set a fixed height for the container */
    height: 400px; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow content */
  }
  
  .scrollabl.cards_container {
    /* Set a fixed height for the container */
    height: 400px; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow content */
  }
  
  .scrollable-cards {
    /* Enable scrolling for the container */
    overflow-y: scroll;
    height: 100%; /* Fill the available height */
  }e-cards {
    /* Enable scrolling for the container */
    overflow-y: scroll;
    height: 100%; /* Fill the available height */
  }
  .active-button {
    text-decoration: underline;
  }
  .button-with-margin {
    margin-bottom: 10px; /* Ajustez cette valeur pour contrôler la hauteur de l'espace */
  }
  .align{
    display: flex; 
    align-items: center;
  }
    