
<ion-buttons class="icon1" slot="start">
  <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
</ion-buttons>
<ion-content [fullscreen]="true">
  
 <h5 >Reset Password</h5>
 <p>please enter your email address,<br>
  so we will send a rest link</p>
  <div class="container">
    <ion-label class="user">Email</ion-label>
      <div class="input">
        <ion-input     (click)="clearErrorMessage('errormessagemail')"
        type="email" placeholder="sahnounemna@gmail.com" [(ngModel)]="email" #emailInput="ngModel" required></ion-input>
        <div *ngIf="errormessagemail" class="errorMessage" >{{errormessagemail}}</div>
      </div>
    <!--<div *ngIf="emailmsg" class="error-message" class="msg">{{ emailmsg }}</div>-->
  </div>

  <button class="button" (click)="SendLink()"  >Send Link</button>

</ion-content>


