
ion-content {
  --background: linear-gradient(to left bottom, #e6d4ff, #ebd8ff, #f0dcff, #f5e0ff, #f4e0ff, #f9e1ff, #fee3ff, #ffe5ff);
}
h5{
 color: #000000; 
 font-weight: bold;
 font-family: "Poppins", sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
 font-size: 190%;
}

p{
  color: #838383;
  font-size: 140%;
  padding: 8%;
  margin-top: 6%;
  text-align: center;
}

.input{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6%;
  margin-top: 5px;
  border: none;
  border-radius: 13px;
  background-color:white;
  height: 40px;
  padding-left: 10px;
  
}   
ion-input {

  // Remove default border and box shadow
  --border-width: 0;
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: none;

  //default background and text color
  --background: transparent;
  --color: black;


 // Remove default highlight on focus
 --highlight-color-focused: #c092fa;
 --highlight-color-invalid: #c092fa;
 --highlight-color-valid: #c092fa;
  // Remove default caret color
  --caret-color: inherit;
  
  // Remove default outline on focus
  --outline: none;

  // Remove default placeholder styling
  --placeholder-color:#838383 ;
  --placeholder-font-style: normal;

}
ion-label{
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  margin-left: 10px;
  margin-bottom: 25px;
  font-size: 140%;
}
button{
  background-color: #c092fa!important;
  font-family: "Poppins", sans-serif;
  font-size: 140%;
  font-weight: bolder;
  border-radius: 25px;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40%;

}
.icon1{
  font-size: 30px;
  margin-top: 30px;
  margin-left: 20px;  
  color: #000000;
}
.container{
  margin-top: 10%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.errorMessage{
  color: red;
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  margin-top: -10px;
  margin-bottom: 5%;
}