<ion-buttons class="icon1" slot="start">
  <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
</ion-buttons>
<ion-content [fullscreen]="true" >
  <div class="background">
    <div class="element-2"></div>
    <div class="element-1"></div>
    <div class="element-3"></div>
  </div>  
  <ion-avatar class="imag">
  <ion-img  src="../assets/img/ang.jpeg"></ion-img>
</ion-avatar>
<p class="changePic" (click)="changePic()" >Change Picture</p>


<div class="container">
    
    
      <ion-label>Email Adress</ion-label>
      <div class="input">
      <ion-input type="Email" name="email" placeholder="sahnounemna@gmail.com" [(ngModel)]="email" #passwordInput="ngModel" required></ion-input>
      <div *ngIf="errormessageemail" class="errorMessage" >{{errormessageemail}}</div>
    </div>
    
      <ion-label>Phone Number</ion-label>
      <div class="input">
      <ion-input type="Number" placeholder="99 999 999" [ngModel]="phoneNumber"  required></ion-input>
      <div *ngIf="errormessagephone" class="errorMessage" >{{errormessagephone}}</div>
    </div>
    
      <ion-label>Password</ion-label>
      <div class="input">
      <ion-input type="password" placeholder="********" [(ngModel)]="password" #passwordInput="ngModel" required></ion-input>
      <div *ngIf="errormessagepassword" class="errorMessage" >{{errormessagepassword}}</div>
    </div>
    
      <ion-label>Confirm password</ion-label>
      <div class="input">
      <ion-input type="password" placeholder="********" [(ngModel)]="confirmPassword" #passwordInput="ngModel" required></ion-input>
      <div *ngIf="errormessagepassword" class="errorMessage" >{{errormessagepassword}}</div>
    </div>
  </div>
  <button class="button" (click)="onUpdateInfoClick()">Update</button>
</ion-content>