<ion-buttons class="icon1" slot="start">
  <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
</ion-buttons>
<ion-content [fullscreen]="true">
  <div class="background">
    <div class="element-2"></div>
    <div class="element-1"></div>
    <div class="element-3"></div>
  </div>
  <div class="fixed">
  <div class="header">
    <ion-avatar class="log">
      <ion-img [src]="'http://127.0.0.1:8000' + club.logo "  ></ion-img>
    </ion-avatar>
    <div class="info">
      <h3 class="name">{{club.nameC}}</h3>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
    </div>
  </div>
  
  
  <div class="stats">
    <div>
      <h3>{{club.nbMembers}}</h3>
      <p>Members</p>
    </div>
    <div>
      <h3>{{club.nbEvents}}</h3>
      <p>Events</p>
    </div>
  </div>
</div>




  <div class="events" *ngIf="LatestEventList?.length > 0; else noEvents">
    <h4>Best Events</h4>

    <div class="horizontal-scroll">
    <ion-card class="card1" *ngFor="let group of BestEventList" (click)="goToEvent(group)">
      <div class="img-container">
        <img [src]="'http://127.0.0.1:8000' + group.photo"/>
      </div>
      <ion-label>
        <h1>{{group.nom}}</h1>
      </ion-label>
    </ion-card>
    </div>

    <h4>Latest</h4>
    <ion-card class="card2" *ngFor="let group of LatestEventList" (click)="goToEvent(group)">
      <div class="img-container">
          <img [src]="'http://127.0.0.1:8000' + group.photo"/>
      </div>
      <ion-label>
        <div>
        <h1>{{group.nom}}</h1>
        <p class="upcoming-events" *ngIf="isUpcomingEvent(group.dateEvent); else finished">Upcoming Event</p>
    <ng-template #finished>
      <p class="finished-events">Finished Event</p>
    </ng-template>
        </div>
        
      </ion-label>
    </ion-card>
  </div>
  <ng-template #noEvents>
    <p class="messageVide">No events available at the moment.</p>
  </ng-template>
</ion-content>
