.ion-padding{
        display: flex;
        flex-direction: column; /* Aligne les éléments verticalement */
        align-items: left; /* Centre les éléments horizontalement */ 
        height: 80px; 
        padding-left: 20px;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
}
.line1,
.line2 {
width: 100%;
text-align: left;
  
}
.line1{
    color: black;
}
.imag{
    width: 180px;
    height:180px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;

}
.ic{
    background-color: aliceblue;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: relative;
    left: 130px;
    bottom: 40px;
    z-index: 1;
}
::ng-deep.button-native{
    width: 300px;
    height:40px;
    margin-top: 25px;
    color:white; 
    font-size: larger;
    --border-radius: 50px;
    --background:#CEBBFA;
    position: relative;
    left: 63px;
}