background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* White background for the entire container */
  z-index: -1;
}

.element-2 {
  width: 990px;
  height: 703px;
  flex-shrink: 0;
  background: conic-gradient(from 180deg at 50% 50%, rgba(255, 114, 182, 0.40) 51.97910249233246deg, rgba(245, 201, 217, 0.00) 136.35732650756836deg, rgba(221, 204, 248, 0.40) 172.19358086585999deg, rgba(192, 146, 250, 0.40) 336.5046429634094deg);
  filter: blur(125px);
  position: absolute;
  left: -218px;
  top: -92px;
}

.element-1 {
  width: 563.833px;
  height: 670.723px;
  flex-shrink: 0;
  background: conic-gradient(from 180deg at 45.26% 41.97%, rgba(168, 228, 255, 0.50) 110.62499642372131deg, rgba(229, 220, 252, 0.52) 191.21399402618408deg, #E6DCFC 191.25deg, rgba(249, 227, 235, 0.49) 307.5000071525574deg);
  filter: blur(75px);
  position: absolute;
  left: -48.68px;
  top: 569px;
}

.element-3 {
  width: 345px;
  height: 202px;
  flex-shrink: 0;
  border-radius: 345px;
  background: #CEBBFA;
  filter: blur(100px);
  position: absolute;
  left: 178px;
  top: -67px;
}







.today {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px;
  margin-bottom: 25px;
  .currentD{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
  }
  .day {
    font-size: 3rem; // Adjust the font size as needed
    font-weight: bold;
    color: black;
    margin: 0;
    margin-right:10px;
  }
  .day-name {
    color: black;
    font-weight: bold;
    margin: 0;
    font-size: 1rem; // Adjust the font size as needed
  }
  .month-year {
    color: black;
    font-weight: bold;
    margin: 0;
    font-size: 1rem; // Adjust the font size as needed 
   }

   .todayB {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #838383;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 1.8px solid #838383;
    padding:7px; /* Optional: Add padding to give the border some space from the text */
}
}








.current-day-button {
  background-color: white; }
  
.custom-button {
  --background: transparent;
  --box-shadow: none;
  --border-width: 0;
  border-radius:10px;
  padding: 0;
  ion-icon {
    display: none; /* Hide the default icon if any */
  }
  .btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.custom-button .day-name {
  color: gray;
  font-weight: bold;
  margin-bottom: 13px;
}

.custom-button .date {
  color: black;
  font-weight: bolder;
  margin-bottom: 5px; /* Add some spacing between date and day name */
}

.line-days{
  width: 100%;
  height: 2px;
  background-color: white; /* Change this to the desired color */
  margin-top: 3px; 
}


.time-events-header {
  display: flex;
  align-items: center;
  margin: 10px;
}

.time-label,
.events-label {
  font-weight: bold;
  margin:0;
  color: #838383;
  font-size: 17px;
  font-weight: 550;
}
.events-label {
  margin-left: 32px;
}



.event-times {
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.start-time{
  color: #212525;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.end-time{
  color: #838383;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 7px;
}







.events {
  ion-list{
    background-color: transparent;
  }
  hr{
    color: white;
  }
  h2 {
    text-align: center;
  }
}




h1{
  color: black;
}
.event-title {
  font-weight: bold;
  font-size: 19px;
  font-weight: 600;
  opacity: 1;
  color: black;
  margin-bottom: 23px;
}

.infos{
  display: flex;    
  flex-direction: row;
  font-weight: bold;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  
  color: black;
}
.detail{
  font-family: "Poppins", sans-serif;
}
.place{
  color: #838383;
  margin-right: 7px;
}
img{
  margin-right: 7px;
  height: 20px;
  width: 20px;
  border-radius: 50%;

}

.current-day-card {
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  width: 275px;
  height:150px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: none;
}


  .event-wrapper {
    display: flex;
    align-items: center;
  }
  
  
  
  .no-events-message{
    color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    font-size: 20px;
 }